/*.shadow {
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
}*/

.footer {
    background-color: black;
    height: auto;
}


/*------------------------------
|   Seção do Desenvolvedor
|--------------------------------
|
*/
.section-developer-data {    
    height: auto;
    width: 100%;
    /*float: right;*/ /* Utilizar o align-content: end || vertical-align */    
    justify-items: end;
    padding-top: 120px;
    position: static;
}



/*------------------------------
|   Dados do desenvolvedor
|--------------------------------
|
*/

.div-developer-data {
    width: max-content;
    margin: 32px 0px;
}


/*------------------------------
|   Foto do desenvolvedor
|--------------------------------
|
*/
.developer-picture {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /*float: right;
    position: relative;
    top: -25px;
    right: 63px;*/
}



/*------------------------------
|   Dados
|--------------------------------
|
*/

/*
.div-developer-data {
    width: 330px;
}

.div-developer-data p {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-weight: bold;
    line-height: 40px;
    font-size: 16px;
}*/

.developer-data {
    width: 330px;
}

.developer-data p {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-weight: bold;
    line-height: 40px;
    font-size: 16px; /* Alterar para em*/
}


/*------------------------------
|   Midias sociais do desenvolvedor
|--------------------------------
|
*/

.div-developer-media {
    margin: 16px auto;
    width: max-content;
}

.div-developer-media a:hover img {
    transform: scale(1.1);
}

.div-developer-media img {
    opacity: 0.8;
    width: 32px;
    height: 32px;
    /*margin-right: 30px;*/
    margin-right: 16px;
    transition: all .3s;
}


/*------------------------------
|   Copyright
|--------------------------------
|
*/

.footer h1 {
    line-height: 40px;
    color: rgba(255, 255, 255, 0.6);
    clear: right;
    text-align: center;
    font-weight: bold;
}



/*------------------------------
|   Medias Queries
|--------------------------------
|
*/

/*Tamanho máximo aceitável
para eu aplicar essa configuração é 600px.*/
@media only screen and (min-width: 600px){
    /* smartphones, Android phones, landscape iPhone */
}